In [7]:
print("For Practice")

For Practice

In [8]:
#strings
print('hello')

print() #Line gap

print('This is purely for practice session for my own growth')

hello

This is purely for practice session for my own growth

In [9]:
s = 'Demo session'

In [16]:
#String printing using index and slicing
print(s[6])
print(s[-1])
print(s[0])
print(s[0:3])
print("Demo" in s)

e
n
D
Dem
True

In [14]:
#Concatenation and repetition
print((s +" "+ 'From online'+ " ") * 2)

Demo session From online Demo session From online

In [22]:
#upper and lower case variation and datatype of the object
s.upper()+" "+s.lower()

'DEMO SESSION demo session'

In [27]:
value = '100'
country ='india'
print("The price is %s in %s" %(value,country))
print("The price is {} in {}" .format(value,country))

The price is 100 in india
The price is 100 in india

In [28]:
#Numbers
print(2+1)

# Subtraction
print(2-1)

# Multiplication
print(2*2)

# Division
print(3/2)

# Powers
2**3

# Can use parenthesis to specify orders
(2+10) * (10+3)

3
1
4
1.5

156

In [32]:
# Let's create an object called "a" and assign it the number 5
a = 5
#Now if I call a in my Python script, Python will treat it as the number 5.

# Adding the objects
a+a
#10
#What happens on reassignment? Will Python let us write it over?

# Reassignment
a = 30
# Check
a+a

60

In [34]:
#List
# Assign a list to an variable named my_list
my_list = [1,2,3]
print(my_list)
len(my_list)

[1, 2, 3]

3

In [36]:
#Append and extend
my_list.append("exam")
print(my_list)

[1, 2, 3, 'exam', 'exam']

In [39]:
my_list.extend([4, 5, 6])
print(my_list)

[1, 2, 3, 'exam', 'exam', 4, 5, 6, 4, 5, 6, 4, 5, 6]

In [42]:
#slicing in list
#start-last-step
my_list[2:10:2]
my_list[2:1:2]

[3, 'exam', 5, 4]

In [43]:
#Dictionaries
my_dict = {'key1':'value1','key2':'value2'}

In [44]:
print(my_dict)
{'key1': 'value1', 'key2': 'value2'}
# Call values by their key
my_dict['key2']

{'key1': 'value1', 'key2': 'value2'}

'value2'

In [45]:
my_dict['key1']=123
my_dict

{'key1': 123, 'key2': 'value2'}

In [46]:
# Subtract 123 from the value
my_dict['key1'] = my_dict['key1'] - 123
#Check
my_dict['key1']

0

In [47]:
# Set the object equal to itself minus 123 
my_dict['key1'] += 123
my_dict['key1']

123

In [48]:
#sets
l_sets = set(my_list)

In [49]:
print(l_sets)

{1, 2, 3, 4, 5, 6, 'exam'}

In [50]:
#If-Else
a = 6
b = 2

if a > b:
    print("a is greater than b")
elif b > a:
    # we are inside the elif block
    print("b is greater than a")
else:
    # we are inside the else block
    print("a and b are equal")

a is greater than b

In [51]:
#For loop

list_1 = [2,4,5,6,8,7,9,10] 

for number in list_1:          
    if number % 2 == 0:        
        print(number,end=' ')

2 4 6 8 10

In [ ]:
#package import
# import the math module
import math

# use the log10 function in the math module
math.pow(2,2)