In [1]:
import pandas as pd
#Reading from csv file
df_csv = pd.read_csv('C:/Users/ABIRAMI/OneDrive/Documents/2023-job_search/GIT-Repos/testing_data.txt')
#df_csv_res = df_csv.to_csv('C:/Users/ABIRAMI/OneDrive/Documents/2023-job_search/GIT-Repos/testing_data.txt', index=None) #text to csv
pd.options.display.max_rows = 9999 #Without this the default will be displaying first and last 5 rows and header in df statement
print(df_csv.to_string()) 
#print(df_csv)

   Duration          Date  Pulse  Maxpulse  Calories
0        45  '2020/12/18'     90     112.0       NaN
1        45           NaN    100     119.0     282.0
2        60  '2020/12/23'    130     101.0     300.0
3        45  '2020/12/24'    105     132.0     246.0
4        60  '2020/12/25'    102     126.0     334.5
5        60    '20201226'    100     120.0     250.0
6        60  '2020/12/27'     92     118.0     241.0
7        60  '2020/12/27'     92     118.0     241.0

In [85]:
df_csv['res']=(df_csv['Maxpulse']-df_csv['Pulse'])*100
df_csv

   Duration          Date  Pulse  Maxpulse  Calories     res
6        60  '2020/12/27'     92     118.0     241.0  2600.0
7        60  '2020/12/27'     92     118.0     241.0  2600.0
3        45  '2020/12/24'    105     132.0     246.0  2700.0
5        60    '20201226'    100     120.0     250.0  2000.0
1        45           NaN    100     119.0     282.0  1900.0
2        60  '2020/12/23'    130     101.0     300.0 -2900.0
4        60  '2020/12/25'    102     126.0     334.5  2400.0
0        45  '2020/12/18'     90     112.0       NaN  2200.0

In [ ]:
df_csv.sort_values(by='res', ascending=False, inplace=True)

In [6]:
#Sorting
df_csv.sort_values(by=['Calories'], ascending=[True], inplace=True)
#select only few columns to display
df_csv[['Calories']].head(2)

   Calories
6     241.0
7     241.0

In [9]:
#highest salary limit by 4 records
['Calories'].nlargest(4)

4    334.5
2    300.0
1    282.0
5    250.0
Name: Calories, dtype: float64

In [11]:
#display all columns
df_csv.nsmallest(4, 'Calories')

   Duration          Date  Pulse  Maxpulse  Calories
6        60  '2020/12/27'     92     118.0     241.0
7        60  '2020/12/27'     92     118.0     241.0
3        45  '2020/12/24'    105     132.0     246.0
5        60    '20201226'    100     120.0     250.0

In [13]:
#to get row count
df_csv['Calories'].count() ## the original file has 8 rows but 7 rows has value for calories

7

In [14]:
df_csv.describe()

        Duration      Pulse    Maxpulse    Calories
count   8.000000    8.00000    8.000000    7.000000
mean   54.375000  101.37500  118.250000  270.642857
std     7.763238   12.77204    9.176834   36.192442
min    45.000000   90.00000  101.000000  241.000000
25%    45.000000   92.00000  116.500000  243.500000
50%    60.000000  100.00000  118.500000  250.000000
75%    60.000000  102.75000  121.500000  291.000000
max    60.000000  130.00000  132.000000  334.500000

In [16]:
df_csv['Calories'].value_counts()

241.0    2
246.0    1
300.0    1
250.0    1
282.0    1
334.5    1
Name: Calories, dtype: int64

In [37]:
#Group By in pandas
Duration_group = df_csv.groupby(['Duration'])

In [39]:
Duration_group.get_group(60)

   Duration          Date  Pulse  Maxpulse  Calories
6        60  '2020/12/27'     92     118.0     241.0
7        60  '2020/12/27'     92     118.0     241.0
5        60    '20201226'    100     120.0     250.0
2        60  '2020/12/23'    130     101.0     300.0
4        60  '2020/12/25'    102     126.0     334.5

In [42]:
#filter in pandas
filt = df_csv['Duration'] == 60
df_csv.loc[filt]['Pulse'].value_counts()

92     2
130    1
100    1
102    1
Name: Pulse, dtype: int64

In [43]:
#median for a group object
Duration_group['Pulse'].median().loc[60]

100

In [46]:
#Record count for a string in that particular group
with_date=df_csv.loc[filt]['Date'].str.contains('2020/12/25').sum()

In [52]:
#Have to apply in all groups in the series
for_all_year=country_grp['Date'].apply(lambda x: x.str.contains('27').sum())

In [50]:
total_count = df_csv['Date'].value_counts()
total_count

'2020/12/27'    2
'2020/12/23'    1
'2020/12/25'    1
'2020/12/18'    1
'2020/12/24'    1
'20201226'      1
Name: Date, dtype: int64

In [69]:
#No of sepecific values in group to total counts in group
#Example: Total number of persons to the number of persons who uses python
python_df = pd.concat([total_count, for_all_year], axis='columns', sort=False)
python_df

              Date  Date
'2020/12/27'     2     2
'2020/12/23'     1     0
'2020/12/25'     1     0
'2020/12/18'     1     0
'2020/12/24'     1     0
'20201226'       1     0

In [67]:
#Rename particular column name
python_df.rename(columns={'Date': 'Total'}, inplace=True)
print(python_df)

              Total  Total
'2020/12/27'      2      2
'2020/12/23'      1      0
'2020/12/25'      1      0
'2020/12/18'      1      0
'2020/12/24'      1      0
'20201226'        1      0