In [2]:
#Pandas Basics- analyzing, cleaning, exploring, and manipulating data.
import pandas as pd

In [3]:
print(pd.__version__)

1.2.4

In [52]:
#Index
a = [1, 7, 2]

myvar = pd.Series(a)

print(myvar)
print(myvar[0])

In [51]:
#lables

a = [1, 7, 2]

myvar = pd.Series(a, index = ["x", "y", "z"])

print(myvar)
print(myvar["y"])

In [50]:
#Dictionary - Key: value pair
calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories)

print(myvar)

In [49]:
calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories, index = ["day1", "day2"])

print(myvar)

In [ ]:
#Data Frames
#Data sets in Pandas are usually multi-dimensional tables, called DataFrames.
#Series is like a column, a DataFrame is the whole table.

In [48]:
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

df = pd.DataFrame(data)

print(myvar)

In [47]:
print(df.loc[0])

In [46]:
print(df.loc[[0, 1]])

In [45]:
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

df = pd.DataFrame(data, index = ["day1", "day2", "day3"])

print(df)

In [44]:
print(df.loc["day2"])

In [39]:
#Reading from csv file
df = pd.read_csv('C:/Users/ABIRAMI/OneDrive/Documents/2023-job_search/GIT-Repos/data.csv')
pd.options.display.max_rows = 9999 ##Without this the default will be displaying first and last 5 rows and header in df statement
print(df.to_string()) 
print(df)

In [31]:
print(pd.options.display.max_rows)

9999

In [40]:
#Reading json file
df = pd.read_json('C:/Users/ABIRAMI/OneDrive/Documents/2023-job_search/GIT-Repos/datainjson.json')

print(df.to_string())

In [41]:
#Analysis
print(df.head(10))

In [42]:
print(df.tail())

In [43]:
print(df.info()) #We can find out number of null values in column from here