In [2]:
#Shifting and Lagging Data
import pandas as pd
df = pd.DataFrame({'eggs': [1,2,4,8,], 'chickens': [0,1,2,4,]})
df

   eggs  chickens
0     1         0
1     2         1
2     4         2
3     8         4

In [3]:
df.shift()

   eggs  chickens
0   NaN       NaN
1   1.0       0.0
2   2.0       1.0
3   4.0       2.0

In [4]:
df.shift(-2)

   eggs  chickens
0   4.0       2.0
1   8.0       4.0
2   NaN       NaN
3   NaN       NaN

In [9]:
# Simple manipulation of
#DataFrames
import numpy as np
np.random.seed(0)
df=pd.DataFrame(np.random.randn(5, 6), columns=list('ABCDEF'))
print(df)

          A         B         C         D         E         F
0  1.764052  0.400157  0.978738  2.240893  1.867558 -0.977278
1  0.950088 -0.151357 -0.103219  0.410599  0.144044  1.454274
2  0.761038  0.121675  0.443863  0.333674  1.494079 -0.205158
3  0.313068 -0.854096 -2.552990  0.653619  0.864436 -0.742165
4  2.269755 -1.454366  0.045759 -0.187184  1.532779  1.469359

In [10]:
del df['C']
print(df)

          A         B         D         E         F
0  1.764052  0.400157  2.240893  1.867558 -0.977278
1  0.950088 -0.151357  0.410599  0.144044  1.454274
2  0.761038  0.121675  0.333674  1.494079 -0.205158
3  0.313068 -0.854096  0.653619  0.864436 -0.742165
4  2.269755 -1.454366 -0.187184  1.532779  1.469359

In [14]:
df.drop(['B', 'E'], axis='columns', inplace=True)

KeyError: "['B' 'E'] not found in axis"

In [15]:
df

          A         D         F
0  1.764052  2.240893 -0.977278
1  0.950088  0.410599  1.454274
2  0.761038  0.333674 -0.205158
3  0.313068  0.653619 -0.742165
4  2.269755 -0.187184  1.469359

In [16]:
df.drop(df.columns[[0, 2]], axis='columns')
print(df)

          A         D         F
0  1.764052  2.240893 -0.977278
1  0.950088  0.410599  1.454274
2  0.761038  0.333674 -0.205158
3  0.313068  0.653619 -0.742165
4  2.269755 -0.187184  1.469359

In [17]:
df = pd.DataFrame({'old_name_1': [1, 2, 3], 'old_name_2': [5, 6, 7]})
print(df)

   old_name_1  old_name_2
0           1           5
1           2           6
2           3           7

In [18]:
df.rename(columns={'old_name_1': 'new_name_1', 'old_name_2': 'new_name_2'}, inplace=True)
print(df)

   new_name_1  new_name_2
0           1           5
1           2           6
2           3           7

In [19]:
df.rename(columns=lambda x: x.replace('old_', '_new'), inplace=True)
print(df)

   new_name_1  new_name_2
0           1           5
1           2           6
2           3           7

In [20]:
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
print(df)

   A  B
0  1  4
1  2  5
2  3  6

In [21]:
df['C'] = [7, 8, 9]
df

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

In [22]:
df['C'] = 1

In [23]:
df

   A  B  C
0  1  4  1
1  2  5  1
2  3  6  1

In [24]:
df['C'] = df['A'] + df['B']
df

   A  B  C
0  1  4  5
1  2  5  7
2  3  6  9

In [25]:
df_means = df.assign(D=[10, 20, 30]).mean()
print(df_means)

A     2.0
B     5.0
C     7.0
D    20.0
dtype: float64

In [26]:
df

   A  B  C
0  1  4  5
1  2  5  7
2  3  6  9

In [27]:
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
df[['A2','B2']] = np.square(df)
print(df)

   A  B  A2  B2
0  1  4   1  16
1  2  5   4  25
2  3  6   9  36

In [28]:
new_df = df.assign(A3=df.A*df.A2, B3=5*df.B)
print(new_df)

   A  B  A2  B2  A3  B3
0  1  4   1  16   1  20
1  2  5   4  25   8  25
2  3  6   9  36  27  30

In [32]:
df = pd.DataFrame({'gender': ["male", "female","female"],
 'id': [1, 2, 3] })
df

   gender  id
0    male   1
1  female   2
2  female   3

In [34]:
df.loc[df["gender"] == "male","gender"] = 0
df.loc[df["gender"] == "female","gender"] = 1
df

  gender  id
0      0   1
1      1   2
2      1   3

In [36]:
s1 = pd.Series([1,2,3])
s2 = pd.Series(['a','b','c'])
df = pd.DataFrame([list(s1), list(s2)], columns = ["C1", "C2", "C3"])
print(df)

  C1 C2 C3
0  1  2  3
1  a  b  c

In [37]:
df = pd.DataFrame(np.array([[10,11,12]]), \
 columns=["C1", "C2", "C3"]).append(df, ignore_index=True)
print(df)

   C1  C2  C3
0  10  11  12
1   1   2   3
2   a   b   c

In [38]:
df = pd.DataFrame(np.arange(10).reshape(5,2), columns=list('ab'))
print(df)

   a  b
0  0  1
1  2  3
2  4  5
3  6  7
4  8  9

In [39]:
df.drop([0,4], inplace=True)
print(df)

   a  b
1  2  3
2  4  5
3  6  7

In [40]:
#String manipulation
ser = pd.Series(['Lorem ipsum', 'dolor sit amet', 'consectetur adipiscing elit'])
ser

0                    Lorem ipsum
1                 dolor sit amet
2    consectetur adipiscing elit
dtype: object

In [41]:
ser.str[0]

0    L
1    d
2    c
dtype: object

In [42]:
ser.str[:3]

0    Lor
1    dol
2    con
dtype: object

In [43]:
ser.str[-1]

0    m
1    t
2    t
dtype: object

In [44]:
ser.str[:10:2]

0    Lrmis
1    dlrst
2    cnett
dtype: object

In [45]:
'Lorem ipsum'[12:15]

''

In [46]:
'Lorem ipsum'[12]

IndexError: string index out of range

In [47]:
ser.str[12]

0    NaN
1      e
2      a
dtype: object

In [48]:
ser.str[12:15]

0
1     et
2    adi
dtype: object

In [50]:
#Checking for contents of a string
animals = pd.Series(['cat', 'dog', 'bear', 'cow', 'bird', 'owl', 'rabbit', 'snake'])
animals

0       cat
1       dog
2      bear
3       cow
4      bird
5       owl
6    rabbit
7     snake
dtype: object

In [51]:
animals.str.contains('a')

0     True
1    False
2     True
3    False
4    False
5    False
6     True
7     True
dtype: bool

In [52]:
animals[animals.str.startswith(('b', 'c'))]

0     cat
2    bear
3     cow
4    bird
dtype: object

In [54]:
ser.str.upper()

0                    lorem ipsum
1                 dolor sit amet
2    consectetur adipiscing elit
dtype: object

In [55]:
ser.str.lower()

0                    lorem ipsum
1                 dolor sit amet
2    consectetur adipiscing elit
dtype: object

In [56]:
ser.str.capitalize()

0                    Lorem ipsum
1                 Dolor sit amet
2    Consectetur adipiscing elit
dtype: object

In [57]:
ser.str.title()

0                    Lorem Ipsum
1                 Dolor Sit Amet
2    Consectetur Adipiscing Elit
dtype: object

In [58]:
ser.str.islower()

0    False
1     True
2     True
dtype: bool

In [60]:
#Working with Time Series
import pandas as pd
import numpy as np
# The number of sample to generate
nb_sample = 100
# Seeding to obtain a reproductible dataset
np.random.seed(0)
se = pd.Series(np.random.randint(0, 100, nb_sample),
 index = pd.date_range(start = pd.to_datetime('2016-09-24'),
 periods = nb_sample, freq='D'))
se

2016-09-24    44
2016-09-25    47
2016-09-26    64
2016-09-27    67
2016-09-28    67
              ..
2016-12-28    23
2016-12-29    79
2016-12-30    13
2016-12-31    85
2017-01-01    48
Freq: D, Length: 100, dtype: int32

In [61]:
se.head(2)

2016-09-24    44
2016-09-25    47
Freq: D, dtype: int32

In [62]:
se.tail(2)

2016-12-31    85
2017-01-01    48
Freq: D, dtype: int32

In [63]:
se['2017']

2017-01-01    48
Freq: D, dtype: int32

In [64]:
se['2017-01']

2017-01-01    48
Freq: D, dtype: int32

In [65]:
se['2016-12-31':'2017-01-01']

2016-12-31    85
2017-01-01    48
Freq: D, dtype: int32

In [66]:
se.truncate(before='2017')

2017-01-01    48
Freq: D, dtype: int32

In [67]:
se.truncate(before='2016-12-30', after='2016-12-31')

2016-12-30    13
2016-12-31    85
Freq: D, dtype: int32